
html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
  }
  h1 {
    font-size: 1.5rem;
    color: white;
  }
  h5 {
    font-size: 0.8rem;
    color: #1282A2;
  }
  h6 {
    font-size: 0.8rem;
    color: #041f27;
  }
  .topnav {
    overflow: hidden;
    background-color: blue;
  }
  #grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 50px;
    line-height: 20px;
  }

  #item1 {
    background-color: blue;
    grid-column: 1;
  }
  
  #item2 {
    background-color: blue;
    grid-column: 2;
  }
  body {
    margin: 0;
  }
  .content {
    padding: 30px;
  }
  .card-grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .card {
    max-width: 250px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
  }
  .state {
    font-size: 1.2rem;
    color:#1282A2;
  }
  .slider {
    -webkit-appearance: none; 
    margin: 0 auto;
    width: 50%;
    height: 35px;
    border-radius: 20px;
    background: #a4d4f0;
    outline: none;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #034078;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background: #034078;
    cursor: pointer;
  }
  .switch {
    padding-left: 5%;
    padding-right: 5%;
  }

  .Dag {margin:0px; padding: 5px 5px;font-size: 16px;color:rgb(32, 32, 241);}
  .dagSwitch {color:rgb(32, 32, 241);border-radius: 10px;} 

  input[type=submit] {
    border: none;
    color: #FEFCFB;
    background-color: #034078;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    }
  
  input[type=submit]:hover {
    background-color: #1282A2;
  }
  
  input[type=text], input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 18px;
    display: inline-block;
    border: 1px solid rgb(190, 119, 57);
    border-radius: 4px;
    box-sizing: border-box;
  }
  .sliderH {
    -webkit-appearance: none;
    margin: 0 auto;
    width: 90%;
    height: 15px;
    border-radius: 10px;
    background: #a4d4f0;
    outline: none;
  }
  .sliderH::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #034078;
    cursor: pointer;
  }
  .sliderH::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background: #034078;
    cursor: pointer;
  }
  .switchH {
    padding-left: 5%;
    padding-right: 5%;
  }
  .Dag {margin:0px; padding: 5px 5px;font-size: 16px;color:rgb(32, 32, 241);}
  .dagSwitch {color:rgb(32, 32, 241);border-radius: 10px;} 

  input[type=submit] {
    border: none;
    color: #FEFCFB;
    background-color: #034078;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    }
  
  input[type=submit]:hover {
    background-color: #1282A2;
  }
  
  input[type=text], input[type=number], select {
    width: 80%;
    padding: 12px 20px;
    margin: 18px;
    display: inline-block;
    border: 1px solid rgb(190, 119, 57);
    border-radius: 4px;
    box-sizing: border-box;
  }

  .time-settings {
    display: grid;
    grid-template-columns: 140px 20px ;
    gap: 5px;
    padding: 1px;
    padding-bottom: 6px;
    height: 40px;
    line-height: 20px;
  }

  .title-settings {
    display: grid;
    grid-template-columns: 200px 30px ;
    text-align: end;
    gap: 5px;
    padding: 1px;
    padding-bottom: 25px;
    height: 10px;
    line-height: 12px;
  }
